/* src/App.css */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  footer {
    margin-top: auto; /* Push footer to the bottom of the page */
  }
  